nav {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #03a9f4;
}

.rightSide {
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login {
  margin-top: 0.7rem;
}

@media (min-width: 600px) {
  .login {
    margin-top: 1rem;
  }
}
